
#container{
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px;
    max-width: 90%;
}

#ligne, #colone{
    border: 1px solid black;
}

#edit{
    border: 1px solid rgb(240, 195, 137);
    padding: 5px 10px 5px 10px;
}

#del{
    border: 1px solid rgb(224, 49, 5);
    padding: 5px 10px 5px 10px;
}

#det{
    border: 1px solid rgb(51, 235, 75);
    padding: 5px 10px 5px 10px;
}

a{
    color: black;
}

#banniere{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    border: 1px solid black;
    max-width: 100%;
}

.logo{
    width: 60%;
}

.div-1{
    display: flex;
    width: 25%;
    justify-content: start;
}

.div-2{
    display: flex;
    width: 25%;
    justify-content: flex-end;
}
.welcom{
    width: 50%;
    text-align: center;
    padding: 50px;
    font-weight: bold;
    font-family: "high tower text";
    font-size: 25px;
}

.menu-vertic{
    font-size: 20px;
    background-color: white;
    cursor: pointer;
    padding: 13px;
    height: auto;
    border: 1px solid rgb(236, 233, 233);
    margin-bottom: 0;
    margin-top: 0px;
    font-family: "High tower text";
  }
  .menu-vertic2{
    font-size: 18px;
    background-color: white;
    padding: 13px;
    border: 1px solid rgb(236, 233, 233);
    margin-bottom: 0;
    margin-top: 0px;
    font-family: "High tower text";
  }

  .content-video{
    width: 90%;
    height: auto;
    margin-top: 38px;
    background-color: rgb(248, 176, 176);
    padding-top: 5px;
    border-radius: 10px;
}

.content-video2{
    width: 90%;
    height: auto;
    margin-top: 38px;
    background-color: rgb(8, 8, 8);
    padding-top: 5px;
    border-radius: 10px;
}

#navig{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "high tower text";
    font-size: 18px;
    color: rgb(5, 5, 5);
}

#navig2{
    text-align: center;
    font-weight: bold;
    font-family: "high tower text";
    font-size: 18px;
    color: white;
}

.contenu{
     border: 1px solid rgb(160, 155, 155);
     width: 20%;
     margin-top: 20px;
     padding-left: 25px;
     display: flex;
     flex-direction: column;
     text-align: center;
     border-radius: 10px;
}

.page{
    position: relative;
    width: 80%;
    height: 600px;
    border: 1px solid rgb(160, 155, 155);
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    background-image: url('../picture/page.jpg');
}

.global-content{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.global-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.bienvenu{
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-family: "high tower text";
}

.sms{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-family: "high tower text";
    margin-bottom: 10px;
}

.cache{
     display: flex;
     flex-direction: column;
     height: auto;
     position: relative;
     animation: ani1 1s ease-out;
     width: 98%;
     border: 1px solid rgb(160, 155, 155);
     border-radius: 10px;
     margin-top: 20px;
     margin-left: 20px;
     background-color: rgb(247, 241, 235);
 }

 .nbr{
    border: 1px solid rgb(160, 155, 155);
    border-radius: 10px;
    margin: 20px;
    font-weight: bold;
    font-size: 18px;
    font-family: "high tower text";
 }

 .c-nbr{
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 10px;
 }

 .c-table{
    margin: 20px;
 }

 .tab{
     width: 100%;
 }

 .btn{
    border: 1px solid rgb(160, 155, 155);
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: "high tower text";
 }

 thead{
     background-color: rgb(209, 207, 203);
 }


